*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

input{
    border: none;
}

button{
    background: transparent;
    border: none;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}