:root{
    --bg-primary: #F4F5FB;
    --bg-secondary: #FFFFFF;

    --color-brand:#CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;

    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;
}